p.intro {
  width: 50%;
  font-style: italic;
 }

.headline {

  color: purple;
  padding: 10px;
  background-color: white;
  font-size: 22px;
}
.columnA {
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
  width: 500px;
  float: left;
  padding: 10px;
  background-color: #456FFA;
  height: 1100px;
}

.columnB {
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
  width: 500px;
  float: right;
  padding: 10px;
  background-color: #AAAAAA;
  height: 1100px;
}

.my-class {
  margin: 12px;
  border: 4px solid orange;
  padding: 2px;
  background-color: pink;
}
