p.intro {
  width: 50%;
  font-style: italic;
 }

.columnA {
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
  width: 500px;
  float: left;
  padding: 10px;
  background-color: #456FFA;
  height: 700px;
}

.columnB {
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
  width: 500px;
  float: right;
  padding: 10px;
  background-color: #AAAAAA;
  height: 700px;
}

.my-class {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}
